%table.table.table-condensed
  %thead
    %tr
      %th.span1 Version
      %th.span2 Updated
      %th.span5 Comment
      %th.span2 Actions
  %tbody
    = render partial: 'lot_version', collection: @lot.lot_versions
    