.row.span11
  %h3.section-header Lots
  %table.table.table-striped
    %thead
      %tr
        %th.span1 Number
        %th Item
        %th Description
        %th Date
        %th.span1 Versions
        %th.span1 Passed
        %th Actions
    %tbody
      = render partial: 'lot', collection: @lots
    = paginate @lots, :theme => 'twitter-bootstrap'     