<div class="row-fluid footer">
	<div class="span2" style="line-height: 35px;">
		<span class="muted"><small><%= "#{APP_VERSION}" %></small></span>
	</div>
	<div class="span8" style="line-height: 35px;">
		<span class="pull-right">
			Website developed by <a href="http://mvesolutions.com" target="_blank" >MVE Solutions Inc.</a>
			<%= image_tag("solutions.logo.gif", :style => "height: 19px; padding-bottom: 5px;", :alt => "MVE Solutions Stylized Acorn Logo") %>
		</span>
	</div>
</div>