<% if technician_signed_in? %>
<div class="nav-collapse">
	<ul class="nav">
		<li class="divider-vertical"></li>
		<li><%= link_to "Lots", lab_lots_path %></li>
		<li><%= link_to "New Lot", new_lab_lot_path %></li>
	</ul>
</div>
<% end %>
