<% if technician_signed_in? %>
<div class="nav-collapse">
	<ul class="nav">
		<li class="divider-vertical"></li>
		<li><%= link_to "stub1", '#' %></li>
		<li><%= link_to "stub2", '#' %></li>
		<li class="divider-vertical"></li>
		<li><%= link_to "stub3", '#' %></li>
	</ul>
</div>
<% end %>
