<% if technician_signed_in? %>
<div class="nav-collapse">
	<ul class="nav">
		<li class="divider-vertical"></li>
		<li><%= link_to "Batches", lab_batches_path %></li>
		<li><%= link_to "New Batch", new_lab_batch_path %></li>
	</ul>
</div>
<% end %>
